* {
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url(images/background.jpg);
}
.wrap1 {
    width: 100%;
    height: 415px;
    background-color: white;
}
.block1 {
    width: 1000px;
    height: 990px;
    margin: 0px 150px 34px 130px;
}
.logo {
 float: left;
    position: relative;
    
}
#logo {
    
}
#text-logo{
    position: absolute;
}
.contacts {
    list-style-type: none;
    float: right;
}
