* {
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url(/images/background.jpg);
    background-position: bottom;
    font-family: tahoma;
}
.block1 {
    width: 1000px;
    height: 990px;
    margin: 0 auto;
    background-color: white;
    overflow: hidden;
    box-shadow: 0 3px 10px;
}
.wrap1 {
    width: 100%;
    height: 415px;
    background-color: white;
    color: #128aa7;
}
.logo {
    float: left;
    margin: 14px;
    font-size: 12px; 
}
#logo {
    position: absolute;
}
#text-logo{
    position: relative;
    top: 110px;
    left: 50px;
}
.contacts {
    list-style-type: none;
    float: right;
    font-size: 12px;
    margin-top: 10px;
    margin-right: 20px;
}
#countries {
    float: right;
    clear: right;
    font-size: 10px;
    margin-top: 40px;
    margin-right: 20px;
}
#countries li{
    list-style-type: none;
    float: left;
    text-align: center;
    margin: 8px;
    font-size: 10px;    
}
#countries li:nth-child(5){
    margin: 8px 2px;
}
#countries a{
    color: #128aa7;
}
header {
    background: linear-gradient(to top, #373737, #303030);
    width: 100%;
    height: 30px;
    font-size: 14px;
    box-shadow: 0 1px 3px;
    border-bottom: 1px solid black; 
}
header li {
    list-style-type: none;
    float: left;
}
header a {
    display: block;
    padding: 7px 38px;
    text-decoration: none;
    color: white;
}
.menu>li:hover>.submenu{
    display: block;
}
.submenu {
    position: absolute;
    border-top: 1px solid black;
    width: 180px;
    background: linear-gradient(to top, #373737, #303030);
    display: none;
    box-shadow: 0 3px 10px
}
article {
    margin-top: 4px;
    width: 100%;
    height: 100%;
    font-size: 14px;
    color: #424c43;
    line-height: 1.5;
}
.column1 {
    float: left;
    width: 20%;
    height: 100%;
    padding-top: 10px;
    text-align: center;
    background-color: #edeef0;
}
.column2 {
    float: right;
    width: 20%;
    height: 100%;
    padding-top: 10px;
    text-align: center;
    background-color: #edeef0;
}
#copyright {
    width: 1000px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    color: white;
}

